<?xml version="1.0"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:macro name = "caster_wheel_xacro" params = "wheel_name xyz">
        <link name = "${wheel_name}_link">
            <!-- 部件的外观描述 -->
            <visual>
                <!-- 相对于它所属 link 原点的位置偏移 -->
                <origin xyz="0 0 0" rpy="0 0 0"/> 
                <!-- 几何形状 -->
                <geometry>
                    <sphere radius="0.016"/>   <!-- 半径0.016m -->
                </geometry>
                <!-- 材质颜色 -->
                <material name="yellow">
                    <color rgba="1 1 0 0.8"/>    <!-- 红 绿 蓝 透明度，范围0~1 -->
                </material>
            </visual>
        </link>
        <joint name = "${wheel_name}_joint" type = "fixed">
            <parent link = "base_link"/>
            <child link = "${wheel_name}_link"/>
            <origin xyz="${xyz}" rpy="0 0 0"/> <!-- child(${${wheel_name}_link) 相对于 parent(base_link) 的偏移 -->
        </joint>
    </xacro:macro>
</robot>