<?xml version="1.0"?>

<robot name="fishbot" xmlns:xacro="http://www.ros.org/wiki/xacro">

    <!-- 包含机器人的身体部件 -->
    <xacro:include filename="base.xacro"/>
    <xacro:include filename="imu.xacro"/>
    <xacro:include filename="laser.xacro"/>
    <xacro:include filename="drive_wheel.xacro"/>
    <xacro:include filename="caster_wheel.xacro"/>

    <!-- 调用宏 -->
    <xacro:base_xacro length="0.5" width="0.5" height="0.1"/> <!-- 机器人的身体部件 -->
    <xacro:imu_xacro xyz = "0 0 -0.1"/> <!-- 机器人的IMU部件 -->
    <xacro:laser_xacro xyz = "0 0 0.1"/> <!-- 机器人的激光雷达部件 -->
    <xacro:drive_wheel_xacro wheel_name="left_front_wheel"   xyz = " 0.25  0.25 -0.08"/> <!-- 左前驱动轮 -->
    <xacro:drive_wheel_xacro wheel_name="right_front_wheel"  xyz = " 0.25 -0.25 -0.08"/> <!-- 右前驱动轮 -->
    <xacro:drive_wheel_xacro wheel_name="left_rear_wheel"    xyz = "-0.25  0.25 -0.08"/> <!-- 左后驱动轮 -->
    <xacro:drive_wheel_xacro wheel_name="right_rear_wheel"   xyz = "-0.25 -0.25 -0.08"/> <!-- 右后驱动轮 -->
    <xacro:caster_wheel_xacro wheel_name="center_caster" xyz = "0 0 -0.096"/> <!-- 中心万向轮 -->

    <!-- 差速驱动插件（作用在整个模型上） -->
    <gazebo>
        <plugin
            filename="libignition-gazebo-diff-drive-system.so"
            name="ignition::gazebo::systems::DiffDrive">
            <left_joint>left_front_wheel_joint</left_joint>
            <left_joint>left_rear_wheel_joint</left_joint>
            <right_joint>right_front_wheel_joint</right_joint>
            <right_joint>right_rear_wheel_joint</right_joint>
            <wheel_separation>0.5</wheel_separation>
            <wheel_radius>0.032</wheel_radius>
            <odom_publish_frequency>30</odom_publish_frequency>
            <topic>cmd_vel</topic>
        </plugin>
    </gazebo>
    
</robot>
